#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    background-color: white;
    opacity:0.5;
    cursor: pointer;
    padding: 20px;
}

#myBtn:hover {
    background-color: #555;
}

#ShoppingCart{
    position: fixed;
    bottom: 120px;
    right: 30px;
    border-radius: 50px;
    background-color: white;
    opacity:0.5;
    cursor: pointer;
    padding: 20px;
}

#ShoppingCart:hover {
    background-color: #555;
}
